﻿@using SimpleRestaurant.Core
@model Restaurant

    <div class="card card-title">
        <div class="card-header">
            <h3>@Model.Name</h3>
        </div>
        <div class="card-body">
            <span>Location: @Model.Location</span>
            <span>Cuisine: @Model.Cuisine</span>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg"
               asp-page="./Detail"
               asp-route-restaurantId="@Model.id">
                <i class="fa fa-search-plus"></i>
            </a>
            <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-restaurantId="@Model.id">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-restaurantId="@Model.id">
                <i class="fa fa-trash"></i>
            </a>

        </div>
    </div>