﻿@page
@model SimpleRestaurant.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h2>ClientRestaurants</h2>

<div>
    <table class="table table-striped table-bordere" id="restaurants">
    </table>
</div>

@section Scripts {
    <script src="\node_modules\datatables.net\js\jquery.dataTables.js"></script>
    <script src="\node_modules\datatables.net-bs4\js\dataTables.bootstrap4.js"></script>
    <link href="\node_modules\datatables.net-bs4\css\dataTables.bootstrap4.css" rel="stylesheet" />
    <script>
        $(function () {

            $.ajax("/api/restaurants/", { method: "get" })
                .then(response => {
                    console.dir(response)

                    $('#restaurants').dataTable({
                        data: response,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine" },
                        ]
                    });

                });
        });
    </script>
}

