﻿@page "{restaurantId:int}"
@model SimpleRestaurant.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h1>@Model.Restaurant.Name</h1>
<div>
    Id: @Model.Restaurant.id
</div>

<div>
    Location: @Model.Restaurant.Location
</div>

<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<a asp-page="./List" class="btn btn-primary">All Restaurant</a> 