﻿@page
@model SimpleRestaurant.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<div>
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" type="search"
                       asp-for="SearchTerm" />
                <span class="input-group-btn">
                    <button class="btn btn-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>

    @foreach (var restaurant in Model.Restaurants)
    {
       <partial name="_Summary" model="restaurant"/>
    }

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@section footer {
    <div>@Model.Message</div>
}


